body {
	background-image: url("../images/alchemy-background.gif");
}

h1 {
	font-size: 80px;
	color: #388FB2;
	margin: 50px 0px 20px 0px;
}

h1, p {
	font-family: 'Roboto', sans-serif;
	padding-top: 10px;
}

header {
	text-align: center;
	padding-bottom: 5px;
	background-color: #FDFDFD;
}

footer {
	background-color: #1f4e61;
	border-top: 2px solid #388FB2;
	color: #F3F3EF;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
	padding: 10px 10px 10px 10px;
}

#page-wrap {
	width: 95%;
	max-width: 800px;
	margin: -35px auto;
	
}

.content {
	padding: 0px 10px 10px 10px;
	background-color: #FDFDFD;
}

footer a {
	display: inline-block;
}

.github_logo {
	background-image: url("../images/GitHub-Mark-Light-64px.png");
	width: 64px;
	height: 64px;
	display: block;
	margin: 0 auto;
}

.github_logo:hover {
	filter: invert(100%);
}